#header
{
	width: 95%;
}

#score
{
	margin: 5px;
}

h3
{
	margin: 5px;
}

#teams
{
	border-radius: 10;
	display: flex;
	flex-direction: row;
	width: 95%;
	margin: auto;
}

#yellowTeam
{
	border-radius: 10;
	background-color: yellow;
	flex: 1;
	padding: 5px;
}

#yellowTeam li
{
	padding: 5px;
}

#blackTeam li
{
	color: white;
	padding: 5px;
}

#blackTeam
{
	background-color: black;
	flex: 1;
	padding: 5px;
}

#games
{
	background-color: rgb(72, 185, 72);
	width: 95%;
	margin: auto;
    box-shadow: 0px 7px 10px -3px #00000088;
}

#games ul
{
	padding: 5px;
}

#games li
{
	cursor: pointer;
	padding: 5px;
}

ul
{
	list-style-type: none;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

p
{
	margin: 0px;
	padding: 10px;
}

.playerName
{
	text-decoration: underline;
	cursor: pointer;
}