<h1 id="score" class="header">Yellow {{match.YellowTeamScore}} - {{match.BlackTeamScore}} Black</h1>
<h3 id="date" class="header" *ngIf="match.Season >= 2018">Match played on {{date.toLocaleDateString()}}</h3>
<h3 id="date" class="header" *ngIf="match.Season == 2017">Match played in 2017</h3>
<div id="teams">
	<ul id="yellowTeam">
		<li (click)="onPlayerClicked(match.YellowTeamCaptain)" class="playerName">{{nameService.name(match.YellowTeamCaptain)}}
		<li (click)="onPlayerClicked(match.YellowTeamPlayer)" class="playerName">{{nameService.name(match.YellowTeamPlayer)}}
	</ul>
	<ul id="blackTeam">
		<li (click)="onPlayerClicked(match.BlackTeamCaptain)" class="playerName">{{nameService.name(match.BlackTeamCaptain)}}
		<li (click)="onPlayerClicked(match.BlackTeamPlayer)" class="playerName">{{nameService.name(match.BlackTeamPlayer)}}
	</ul>
</div>
<div id="games" *ngIf="games">
	<ul *ngIf="games.length != 0">
		<li (click)="toggleGame(0)"><span *ngIf="!gameVisibility[0]">▶</span><span *ngIf="gameVisibility[0]">▼</span> Game 1
		<app-game *ngIf="games && match && gameVisibility[0]" [game]="games[0]" [match]="match"></app-game>
		<li (click)="toggleGame(1)"><span *ngIf="!gameVisibility[1]">▶</span><span *ngIf="gameVisibility[1]">▼</span> Game 2
		<app-game *ngIf="games && match && gameVisibility[1]" [game]="games[1]" [match]="match"></app-game>
		<li (click)="toggleGame(2)"><span *ngIf="!gameVisibility[2]">▶</span><span *ngIf="gameVisibility[2]">▼</span> Game 3
		<app-game *ngIf="games && match && gameVisibility[2]" [game]="games[2]" [match]="match"></app-game>
	</ul>
	<p *ngIf="games.length == 0">No games available for this match</p>
</div>
