#match-list
{
	background: rgb(72, 185, 72);
	list-style-type: none;
	padding: 0px;
	border: 0px;
	margin: 10px;
	width: 300px;
	height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
	overflow-y: scroll;
}

#match-list::-webkit-scrollbar
{
    width: 10px;
    background: transparent;
}

#match-list::-webkit-scrollbar-thumb 
{
    background: rgba(0, 0, 0, 0.336); 
}

#match-list::-webkit-scrollbar-track 
{
    background: rgb(72, 185, 72);
}


#match-list li
{
	cursor: pointer;
	padding: 10px;
	list-style-position: inside;
	border-bottom: 2px solid black;
}

#match-list li:hover
{
	background: rgb(99, 226, 99)
}

#match-list li.selected
{
	background: rgb(119, 255, 119)
}