<ul id="match-list">
  <li *ngFor="let match of matches" (click)="onSelect(match)"
  [ngClass]="{'selected': selectedMatch == match}">
    {{nameService.initials(match.YellowTeamCaptain)}} 
    {{nameService.initials(match.YellowTeamPlayer)}}
    {{match.YellowTeamScore}} - {{match.BlackTeamScore}}
    {{nameService.initials(match.BlackTeamCaptain)}}
    {{nameService.initials(match.BlackTeamPlayer)}}:
    <span *ngIf="match.Season >= 2018">{{dates[match.MatchId].toLocaleDateString()}}</span>
    <span *ngIf="match.Season == 2017">2017</span>
</ul>