<div id="teams">
    <ul id="yellowTeam">
		<li class="score" [ngClass]="{'winner': game.YellowTeamScore > game.BlackTeamScore}">{{game.YellowTeamScore}}</li>
        <li>Front: {{players["yellowFront"]}}</li>
        <li>Back: {{players["yellowBack"]}}</li>
    </ul>
    <ul id="blackTeam">
		<li class="score" [ngClass]="{'winner': game.BlackTeamScore > game.YellowTeamScore}">{{game.BlackTeamScore}}</li>
        <li>Front: {{players["blackFront"]}}</li>
        <li>Back: {{players["blackBack"]}}</li>
    </ul>
</div>