#main
{
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

#results
{
	display: flex;
	flex-direction: row;
	flex: 1;
}

#match
{
	flex: 3;
}

#filter
{
	padding: 10px;
	background: rgb(72, 185, 72);
}

#error
{
	color: red;
	font-size: 100px;
	text-align: center;
	padding: 50px;
}

#player
{
	flex: 1;
	margin-right: 20px;
}