#main
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

#results
{
	display: flex;
	flex-direction: row;
	flex: 1;
}

#match
{
	flex: 1;
}

#filter
{
	padding: 10px;
	background: rgb(72, 185, 72);
}